<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found
      <img class="oops" src="/images/oops.JPG">
    </h1>
    <a href="/"><button type="button" id="submit" class="btn btn-primary float-left">Return To Homepage</button></a>
  </div>
</div>