{{!-- This is the first page that loads when the server is running. --}}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="header" src="/images/header.JPG">
      </div>
      <div class="col-8 main">

        <h2>Log In Da Hood</h2>
        <h5>You MUST have an account to post and access information</h5>
        <h5>Log in or create an account</h5>
        <form action="/signin" method="POST" class="clearfix mb-4">
          <div class="form-group">
            <label for="example-text">Email</label>
            <input type="text" name="email" id="{{logUser}}" class="form-control" aria-describedby="example-text"
              placeholder="Enter email here">
          </div>
          <div class="form-group">
            <label for="example-text">Password</label>
            <input type="password" name="password" id="{{logPass}}" class="form-control" aria-describedby="example-text"
              placeholder="Password must include at least one number and one symbol">
          </div>
          <input class="btn btn-primary" type="submit" value="Sign In">
          

          <a href="/signup"><button type="button" class="btn btn-secondary">Create Account</button></a>
        </form>
      </div>
    </div>
  </div>
</div>