.list-group-item {
  line-height: 2.5;
}
body {
  background-image: url("/images/map_background.png");
  font-family: 'Unlock', cursive;
}
.main {
  background-color: white;
}
.container {
  padding: 20px;
  margin: 20px;
  align-content: center;
}
.header {
  width: 100px;
  height: 300px;
  border: solid 1px;
}
button {
  padding: 20px;
  margin: 20px;
}
.home-row {
  background-color: salmon;
}
h3 {
  font-size: 20px;
}
h5{
  font-size:16px;
}
p{
  font-size: 14px;
}
div.col.s4 {
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
.home-title, h2.feed {
  background: white;
}
#logoutbtn{
  background-color:brown;
  float:right;
  color:whitesmoke;
  margin-right: 20px;
}
.logout {
  position: relative;
  z-index: 1;
  margin-top: 20px;
}